* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: hsl(0 0% 30%);
  background: hsl(0 0% 97%);
  font-family: sans-serif;
  display: grid;
  place-items: center;
  min-height: 100svb;
}

main {
  inline-size: 100%;
  max-inline-size: 60ch;
  margin-inline: auto;
}

button {
  --size: 3rem;
  inline-size: var(--size);
  block-size: var(--size);
}

main {
  display: flex;
  flex-direction: column;
}

main > h1 {
  font-size: 4rem;
  align-self: center;
}

main > button {
  align-self: end;
  --size: 2rem;
}

main > div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* style */
main > button {
  --size: 2rem;
  padding: 0.5rem;
  border: none;
  background: none;
  border-radius: 0.5rem;
}

main > button:is(:hover, :focus) {
  background: hsl(0 0% 80%);
}

main > button:focus {
  outline: none;
}

main > div {
  padding: clamp(1rem, 1rem + 5vb, 3rem) 1rem;
}

div > button {
  --size: 3.8rem;
  padding: 1.2rem;
  border: none;
  background: none;
  border-radius: 1e5px;
  box-shadow: 0 0 1px hsl(0 0% 30%);
}

div > button:not(:disabled) {
  background: hsl(0 0% 100%);
}

div > button:first-child {
  color: hsl(220 80% 99%);
  background: hsl(220 90% 50%);
}

div > button:focus {
  outline-offset: 3px;
  outline: 2px solid hsl(0 0% 30%);
}
