* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: hsl(0 0% 30%);
  background: hsl(0 0% 97%);
  font-family: sans-serif;
  display: grid;
  place-items: center;
  min-height: 100svb;
}

button {
  --size: 3rem;
  inline-size: var(--size);
  block-size: var(--size);
}

main {
  display: flex;
  flex-direction: column;
}

main > h1 {
  font-size: 4rem;
  align-self: center;
}

main > button {
  align-self: end;
  --size: 2rem;
}

main > div {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

h1 > span {
  font-size: 0.7em;
}

main > button {
  --size: 2rem;
  padding: 0.5rem;
  border: none;
  background: none;
  border-radius: 0.2rem;
}

main > button:hover {
  background: hsl(0 0% 88%);
}

main > button:focus {
  outline-offset: 3px;
  outline: 1px solid hsl(0 0% 30%);
}

main > button:focus:not(:focus-visible) {
  outline: none;
}

main > div {
  padding: 2rem 1rem;
}

div > button {
  --size: 3.8rem;
  padding: 1.2rem;
  border: none;
  background: none;
  border-radius: 1e5px;
  box-shadow: 0 0 1px hsl(0 0% 30%);
}

div > button:not(:disabled) {
  background: hsl(0 0% 100%);
}

div > button:first-child {
  color: hsl(220 80% 99%);
  background: hsl(220 90% 50%);
}

div > button:focus {
  outline-offset: 3px;
  outline: 2px solid hsl(0 0% 30%);
}

main > button {
  view-transition-name: expand-restore;
}

main > h1 {
  view-transition-name: heading;
}

div > button:first-child {
  view-transition-name: start-pause;
}

div > button:last-child {
  view-transition-name: reset;
}

main.expand > h1 {
  font-size: 6rem;
}

main.expand > div > button {
  --size: 4rem;
  --padding: 2rem;
}
