* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: hsl(0 0% 10%);
  background: hsl(0 0% 96%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svb;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* layout */
main {
  max-inline-size: 60ch;
  inline-size: 90%;
  padding: 1rem;
}

main > button {
  display: block;
  margin-inline-start: auto;
}

main > svg[role="heading"] {
  display: block;
  inline-size: 100%;
}

main > div {
  margin-block-start: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* styles */
main > button {
  inline-size: 2rem;
  block-size: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: hsl(0 0% 11%);
  background: none;
  border: none;
}

main > button:hover {
  background: hsl(0 0% 88%);
}

main > button:focus {
  outline-offset: 2px;
  outline-color: currentColor;
}

main > button:focus:not(:focus-visible) {
  outline: none;
}

main > button > svg {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

div > button {
  font-size: 3.2rem;
  inline-size: 1em;
  block-size: 1em;
  padding: 0.3em;
  border-radius: 0.5rem;
  color: hsl(0 0% 11%);
  background: hsl(0 0% 100%);
  border: none;
  box-shadow: 0 0 0.15rem -0.05rem currentColor, 0 0 0.5rem -0.4rem currentColor;
  border-radius: 1e5px;
}

div > button:hover {
  background: hsl(0 0% 88%);
}

div > button:focus {
  outline-offset: 2px;
  outline-color: currentColor;
}

div > button:focus:not(:focus-visible) {
  outline: none;
}

div > button:nth-child(1) {
  color: hsl(0 0% 100%);
  background: hsl(182 95% 24%);
}

div > button:nth-child(1):hover {
  background: hsl(182 90% 30%);
}

div > button > svg {
  display: block;
  inline-size: 100%;
  block-size: 100%;
}

/* view-transition */
main.expand {
  inline-size: 100%;
  max-inline-size: 80ch;
}

main.expand > div > button {
  font-size: 3.8rem;
}

main > button {
  view-transition-name: toggle-size;
}

main > svg[role="heading"] {
  view-transition-name: heading;
}

main > div > button:nth-child(1) {
  view-transition-name: toggle-start;
}

main > div > button:nth-child(2) {
  view-transition-name: reset;
}
