/* variables */
:root {
  --color-light: hsl(0 0% 11%);
  --color-dim-light: hsl(0 0% 37%);
  --background-light: hsl(0 0% 96%);
  --button-color-light: hsl(0 0% 11%);
  --button-background-light: hsl(0 0% 100%);
  --button-color-hover-light: var(--button-color-light);
  --button-background-hover-light: hsl(0 0% 88%);
  --button-color-active-light: var(--button-color-light);
  --button-background-active-light: hsl(0 0% 92%);
  --button-color-disabled-light: hsl(0 0% 62%);
  --button-background-disabled-light: var(--background-light);
  --button-outline-color-light: var(--button-color-light);
  --button-color-primary-light: hsl(0 0% 100%);
  --button-background-primary-light: hsl(182 95% 24%);
  --button-color-hover-primary-light: var(--button-color-primary-light);
  --button-background-hover-primary-light: hsl(182 66% 31%);
  --button-color-active-primary-light: hsl(182 30% 82%);
  --button-background-active-primary-light: hsl(182 47% 38%);
  --button-outline-color-primary-light: var(--button-background-primary-light);

  --color-dark: hsl(0 0% 100%);
  --color-dim-dark: hsl(0 0% 81%);
  --background-dark: hsl(0, 0%, 15%);
  --button-color-dark: hsl(0 0% 100%);
  --button-background-dark: hsl(0 0% 20%);
  --button-color-hover-dark: var(--button-color-dark);
  --button-background-hover-dark: hsl(0 0% 24%);
  --button-color-active-dark: var(--button-color-dark);
  --button-background-active-dark: hsl(0 0% 18%);
  --button-color-disabled-dark: hsl(0 0% 48%);
  --button-background-disabled-dark: hsl(0 0% 19%);
  --button-outline-color-dark: var(--button-color-dark);
  --button-color-primary-dark: hsl(0 0% 0%);
  --button-background-primary-dark: hsl(181 96% 55%);
  --button-color-hover-primary-dark: var(--button-color-primary-dark);
  --button-background-hover-primary-dark: hsl(181 79% 51%);
  --button-color-active-primary-dark: hsl(181 72% 24%);
  --button-background-active-primary-dark: hsl(181 72% 47%);
  --button-outline-color-primary-dark: var(--button-background-primary-dark);
}

:root {
  color-scheme: light;
  --color: var(--color-light);
  --color-dim: var(--color-dim-light);
  --background: var(--background-light);
  --button-color: var(--button-color-light);
  --button-background: var(--button-background-light);
  --button-color-hover: var(--button-color-hover-light);
  --button-background-hover: var(--button-background-hover-light);
  --button-color-active: var(--button-color-active-light);
  --button-background-active: var(--button-background-active-light);
  --button-color-disabled: var(--button-color-disabled-light);
  --button-background-disabled: var(--button-background-disabled-light);
  --button-outline-color: var(--button-outline-color-light);
  --button-color-primary: var(--button-color-primary-light);
  --button-background-primary: var(--button-background-primary-light);
  --button-color-hover-primary: var(--button-color-hover-primary-light);
  --button-background-hover-primary: var(
    --button-background-hover-primary-light
  );
  --button-color-active-primary: var(--button-color-active-primary-light);
  --button-background-active-primary: var(
    --button-background-active-primary-light
  );
  --button-outline-color-primary: var(--button-outline-color-primary-light);
}

[data-theme="dark"] {
  color-scheme: light;
  --color: var(--color-dark);
  --color-dim: var(--color-dim-dark);
  --background: var(--background-dark);
  --button-color: var(--button-color-dark);
  --button-background: var(--button-background-dark);
  --button-color-hover: var(--button-color-hover-dark);
  --button-background-hover: var(--button-background-hover-dark);
  --button-color-active: var(--button-color-active-dark);
  --button-background-active: var(--button-background-active-dark);
  --button-color-disabled: var(--button-color-disabled-dark);
  --button-background-disabled: var(--button-background-disabled-dark);
  --button-outline-color: var(--button-outline-color-dark);
  --button-color-primary: var(--button-color-primary-dark);
  --button-background-primary: var(--button-background-primary-dark);
  --button-color-hover-primary: var(--button-color-hover-primary-dark);
  --button-background-hover-primary: var(
    --button-background-hover-primary-dark
  );
  --button-color-active-primary: var(--button-color-active-primary-dark);
  --button-background-active-primary: var(
    --button-background-active-primary-dark
  );
  --button-outline-color-primary: var(--button-outline-color-primary-dark);
}

/* global */
* {
  box-sizing: border-box;
}

body {
  color: var(--color);
  background: var(--background);
  margin: 0;
  min-block-size: 100svb;
}

button {
  color: var(--button-color, currentColor);
  background: var(--button-background, initial);
  border: none;
  width: var(--button-size, 2rem);
  height: var(--button-size, 2rem);
  border-radius: var(--button-border-radius, 0);
  padding: var(--button-padding, 0.5rem);
  box-shadow: var(--button-box-shadow, none);
}

button:hover {
  color: var(--button-color-hover);
  background: var(--button-background-hover);
}

button:active {
  color: var(--button-color-active);
  background: var(--button-background-active);
}

button[disabled] {
  color: var(--button-color-disabled);
  background: var(--button-background-disabled);
}

button:focus-visible {
  outline: var(--button-outline-color) solid 2px;
  outline-offset: 2px;
}

button > svg {
  display: block;
  width: 100%;
  height: 100%;
}

button[data-role="primary"] {
  --button-color: var(--button-color-primary);
  --button-background: var(--button-background-primary);
  --button-color-hover: var(--button-color-hover-primary);
  --button-background-hover: var(--button-background-hover-primary);
  --button-color-active: var(--button-color-active-primary);
  --button-background-active: var(--button-background-active-primary);
  --button-outline-color: var(--button-outline-color-primary);
}

/* utils */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* view transition */
#layout {
  padding: 1rem 2rem;
  max-inline-size: 65ch;
  margin-inline: auto;
}

html[data-display="large"] #layout {
  padding: 1rem;
  max-inline-size: 90ch;
  justify-content: center;
}

html[data-display="large"] :is(#toggle-dark-theme, #set-lap, #laps) {
  display: none;
}

html {
  view-transition-name: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    --transition-duration: 0.3s;
  }

  #display {
    view-transition-name: display;
  }

  #toggle-large-display {
    view-transition-name: toggle-large-display;
  }

  #toggle-dark-theme {
    view-transition-name: toggle-dark-theme;
  }

  #toggle-start {
    view-transition-name: toggle-start;
  }

  #set-lap {
    view-transition-name: set-lap;
  }

  #reset {
    view-transition-name: reset;
  }

  #laps {
    view-transition-name: laps;
  }

  ::view-transition-group(*) {
    animation-duration: var(--transition-duration, 0.25s);
  }

  ::view-transition-old(toggle-dark-theme),
  ::view-transition-old(set-lap),
  ::view-transition-old(laps) {
    display: none;
  }

  ::view-transition-new(toggle-dark-theme),
  ::view-transition-new(set-lap),
  ::view-transition-new(laps) {
    animation-delay: var(--transition-duration, 0.25s);
  }
}

/* aria-pressed toggle */
button[aria-pressed="false"] [data-pressed="false"] {
  display: initial;
}

button[aria-pressed="false"] [data-pressed="true"] {
  display: none;
}

button[aria-pressed="true"] [data-pressed="false"] {
  display: none;
}

button[aria-pressed="true"] [data-pressed="true"] {
  display: initial;
}

/* layout */
#layout {
  display: flex;
  flex-direction: column;
  min-block-size: 100svb;
}

#layout > * + * {
  margin-block-start: 0.75rem;
}

#layout #controls {
  margin-block-start: 1.75rem;
}

#preferences {
  inline-size: max-content;
  margin-inline-start: auto;
}

#controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* style */
#preferences {
  --button-size: 2.2rem;
  --button-padding: 0.6rem;
  --button-border-radius: 0.5rem;
  --button-background: none;
}

#controls {
  --button-size: 3rem;
  --button-padding: 1rem;
  --button-border-radius: 1e5px;
  --button-box-shadow: 0 0 0.15rem -0.05rem currentColor,
    0 0 0.5rem -0.4rem currentColor;
}
